html {
    height: 100%;
    width: 100%
}

/* Setting background for index page. */
body {
    background-image: url(../images/background.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Create Post and All Posts button container. */
#postButtonsContainer{
    display: flex;
    height: 90%;
    width: 100%;
    top: 0%;
    position: relative;
    justify-content: center;
    align-items: center;
}

/* Create Post and All Posts class. */
.postButton{
    position: relative; bottom:50px;
    background-color: orange;
    color: black;
    width: 150px; /* To make the buttons look equal in width. */
    font-size: 16px;
}

/* Create Post TextArea */
textarea {
    background-color: #f1f1f1 !important;
}

/* Create Post Submit Container */
.createPostSubmitContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Create Post Submit Button */
#createPostSubmit {
    margin: 5px;
}

/* Create Post Modal Size Adjustment */
#createPostModalContent {
    width:80%;
    height:72%;
    margin: 5% auto; !important;
}