html {
    height: 100%;
    width: 100%
}

body {
    background-image: url(../images/background.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

#postButtonsContainer{
    display: flex;
    height: 90%;
    width: 100%;
    top: 0%;
    position: relative;
    justify-content: center;
    align-items: center;
}

.postButton{
    position: relative; bottom:50px;
    background-color: orange;
    color: black;
    width: 150px; /* To make the buttons look equal in width. */
    font-size: 16px;
}

textarea {
    background-color: #f1f1f1 !important;
}

.createPostSubmitContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#createPostSubmit {
    margin: 5px;
}

#createPostModalContent {
    width:80%;
    height:72%;
    margin: 5% auto; !important;
}