body {
    background-color:#ffeedd !important;
}

.mainPostsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100% !important;
    width: 100% !important;
    font-family: 'Arial';
}

.post {
    width: 35%;
}

.card {
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    margin: 20px;
    padding: 0px;
    box-shadow: 10px 10px 5px -5px rgba(33,33,33,.1);
}

.card:hover {
    box-shadow: 10px 10px 25px -5px rgba(33,33,33,.4);
}

.cardLayout{
    text-align: center;
    background-color: white;
    padding: 0px;
    font-size: 18px;
    font-weight: bold;
    color:gray;
}

.cardBody{
    width: 85%;
    background-color: #dcdcdc;
    color: black;
    font-weight: normal;
    padding: 20px;
    font-size: 16px;
    text-align: left;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.cardHeading{
   color:gray;
   font-size: 18px;
   font-weight: 500;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding-bottom: 5px;
}

.title {
   padding-right: 30px;
}

.name {
    margin: auto;
    padding: 5px;
    justify-content: center;
}

.wrap {
  line-height: 1.2em;
  height: 3.6em;
  overflow: hidden;
}

.ellipsis{
  color: gray;
  float: right;
  cursor: pointer;
  font-size: 20px;
  padding-right: 5px;
}

.ellipsis:hover {
    color: dimgray;
}

.delete{
  color: gray;
  cursor: pointer;
  font-size: 20px;
  float: right;
  padding-right: 5px;
}

.delete:hover {
    color: dimgray;
}

#confirmDelete{
   position: absolute; bottom:10px; left:10px;
   width: 60px;
}

#cancelDelete {
   position: absolute; bottom:10px; right:10px;
   width: 60px;
}

.deleteModalContent {
    display: flex;
    justify-content: center;
    width:22% !important;
    margin: 5% auto; !important;
    font-family: 'Arial';
    font-size: 18px;
    text-padding: 10px;
    text-align: center;
}

.deleteDialogButtons {
   padding-top: 40px;
}